/*

		Global Pageflip Styles
		
*/
#pageflip {
	width: 100%;
	background: #ececec;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
#pagerin {
	font-family: "Fauna One", "Lucida Grande", Helvetica, sans-serif;
}
#stage {
	background: #ececec;
}
/*
	
		Container HTML Page Styles
		
*/
body {
	margin: 0;
}

/*

		template 1 - Meet Pageflip Styles

*/
.page-container.left-side.meetpageflip {
	border-radius: 10px 0 0 10px;
}
#thevideo,
.page-container.right-side.meetpageflip {
	border-radius: 0 10px 10px 0;
}
#dropshadow.meetpageflip {
	border-radius: 20px;
}
.meetpageflip {
	font-size: 13px;
	font-family: "Fauna One", "Lucida Grande", Helvetica, sans-serif;
}
.meetpageflip a {
	color: #00B7F0;
}

.meetpageflip .cabeceratitulo h2{
	color: #000000;
	font-family: Arial;
	font-size: 30px;
	padding-left: 24px;
}

.meetpageflip .cabeceratitulo-largetitle h2{
	color: #000000;
	font-family: "Arial";
	font-size: 28px;
	padding-left: 24px;	
}


.page-container.meetpageflip {
	background: #f2f2f2;
}
.page-container.meetpageflip.outer {
	background: none;
}
.meetpageflip #userguide h1,
.meetpageflip #userguide h2,
.meetpageflip #thankyou h1,
.meetpageflip #thankyou h2,
.meetpageflip #developercontent h4,
.meetpageflip .dintext {
	text-transform: uppercase;
	font-family: Arial, DINNextLTPro-Heavy, Impact, Helvetica;
	font-weight: normal;
	font-style: normal;
}

.meetpageflip .dintext h3 {
	color: #ffffff;
	font-family: "Arial";
	font-size: 16px;
	text-transform: none;
}


.meetpageflip .dintext a:hover {
	text-decoration: none;
}
.meetpageflip p {
	margin: 0 0 3px 0;
	padding: 0;
	line-height: 14px;
	color: #000000;
}
.meetpageflip .pagenumber {
	float: right;
}
.meetpageflip .left-side .pagenumber {
	float: left;
	margin-right: 32px;
}
.meetpageflip .footertext {
	position: absolute;
	bottom: 4px;
	left: 32px;
	width: 386px;
}
.meetpageflip .footertext p span.larger {
	font-size: 138%;
}
.meetpageflip .footertext p {
	color: #4d4d4d;
}
#page1.meetpageflip,
#page2.meetpageflip,
#page23.meetpageflip,
#page24.meetpageflip {
	background: #f09600;
}
.meetpageflip #coverheading {
	position: absolute;
	top: 148px;
	left: 32px;
}
.meetpageflip #covertitles {
	position: absolute;
	top: 216px;
	right: 32px;
	text-align: right;
}
.meetpageflip #covertitles p {
	margin: 0 0 10px 0;
	font-size: 20px;
	line-height: 20px;
	color: #f2f2f2;	
}
.meetpageflip #userguide {
	position: absolute;
	top: 140px;
	left: 60px;
	opacity: 0.7;
}
.meetpageflip #userguide:hover {
	opacity: 0.9;
}
.meetpageflip #userguide h1,
.meetpageflip #userguide h2,
.meetpageflip #userguide p {
	margin: 0;
	padding: 0;
	color: #ffffff;
}
.meetpageflip #userguide h1 {
	font-size: 30px;
}
.meetpageflip #userguide h2 {
	font-size: 20px;
}
.meetpageflip #userguide p {
	margin: 26px 0 3px 0;
	line-height: 14px;
}
#page3.meetpageflip {
	background: #ededed;
}

#page6.meetpageflip {
	background: rgba(242, 242, 255, 1);
	/*color: rgba( 255, 170, 170, 0.5);
	/*color: rgba( 77,77,77, 0.5 );*/
}

.meetpageflip .header {
	position: absolute;
	top: 38px;
	left: 28px;
	max-width: 380px;
}
.meetpageflip #tocintro {
	position: absolute;
	top: 148px;
	left: 32px;
	opacity: 0.5;
	max-width: 386px;
}
.meetpageflip #toc {
	position: absolute;
	top: 280px;
	left: 0;
	font-size: 20px;
}
.meetpageflip .linklist ul {
	margin: 0;
	padding: 0;
}
.meetpageflip .linklist ul p {
	margin: 0 0 5px 0;
	padding: 0 0 0 32px;
	opacity: 0.25;
}
.meetpageflip .linklist ul li {
	list-style: none;
	margin: -4px 0 0 0;
	padding: 0 0 0 32px;
	width: 418px;
	color: #000ff;
	text-transform: none;
	cursor: pointer;
}
.meetpageflip .linklist ul li:hover {
	background: url( ../template1_meet_pageflip/linkback.svg ) no-repeat left top;
	color: #f2f2f2;
}
.meetpageflip #featurelist {
	position: absolute;
	top: 174px;
	left: 0;
	max-width: 386px;	
}
.meetpageflip .optionlist ul {
	margin: 0;
	padding: 0;
}
.meetpageflip .optionlist ul li {
	list-style: none;
	margin: -3px 0 0 0;
	padding: 5px 0 2px 32px;
	width: 418px;
	cursor: pointer;
}
.meetpageflip .optionlist ul li:hover {
	background: url( ../template1_meet_pageflip/optionback.svg ) no-repeat left top;
}
.meetpageflip .optionlist ul li.selected,
.meetpageflip .optionlist ul li.selected:hover {
	background: url( ../template1_meet_pageflip/optionback_selected.svg ) no-repeat left top;
}
.meetpageflip .optionlist ul li:hover,
.meetpageflip .optionlist ul li.selected {
	color: rgba( 255,255,255, 0.5 );
}
.meetpageflip .optionlist li {
	color: rgba( 77,77,77, 0.5 );
}
.meetpageflip .optionlist a:hover {
	text-decoration: none;
}
.meetpageflip #browsericons {
	position: absolute;
	top: 460px;
	left: 32px;
}
#page5.meetpageflip,
#page21.meetpageflip {
	background: #ededed;
}
#page19.meetpageflip,
#page20.meetpageflip {
	background: rgba(0, 183, 240, 0.5);
}
.meetpageflip #videodescription {
	position: absolute;
	top: 148px;
	left: 32px;
	opacity: 0.5;
	max-width: 386px;
}
.meetpageflip #videodescription p {
	color: #ededed;
}
.meetpageflip video {
	-webkit-mask: url( ../template1_meet_pageflip/mask_right.svg );
}
.meetpageflip #playpause {
	position: absolute;
	top: 196px;
	left: 32px;
	opacity: 0.5;
	cursor: pointer;
}
.meetpageflip #playpause:hover {
	opacity: 1;
}
.meetpageflip .alt p {
	color: #ededed;
}
#page13.meetpageflip,
#page15.meetpageflip {
	color: #ededed;
}
#page14.meetpageflip,
#page16.meetpageflip {
	/*background: none;*/
	color: #ededed;
}
#page17.meetpageflip {
	background: #00b7f0;
}
.meetpageflip #trasparencypage {
	position: absolute;
	top: 0;
	left: 0;
}
.meetpageflip #trasparencytext {
	position: absolute;
	top: 512px;
	left: 32px;
	opacity: 0.5;
	max-width: 386px;
}
.meetpageflip .features {
	position: absolute;
	top: 0;
	left: 0;
	width: 450px;
	height: 600px;
	overflow: hidden;
	opacity: 1;
}
.meetpageflip .features div {
	position: absolute;
	left: 66px;
	max-width: 318px;
}
.meetpageflip .features div p {
	color: #f2f2f2;
	opacity: 0.5;
	margin-left: 3px;
}
.meetpageflip .features.off {
	/*display: none;*/
	opacity: 0;
}
.meetpageflip #textdemo {
	position: absolute;
	top: 77px;
	left: 32px;
	max-width: 386px;
}
.meetpageflip #textdemo2 {
	position: absolute;
	top: 42px;
	left: 32px;
	max-width: 386px;
}
.meetpageflip .textdemo p {
	/*font-size: 10px;*/
	font-size: 15px;
	margin: 0 0 12px 0;
}
.meetpageflip .textdemotres p {
	/*font-size: 10px;*/
	font-size: 15px;
	margin: 0 0 7px 0;
}
.meetpageflip .leftimage {
	float: left;
	margin: 2px 24px 20px 0;
}
.meetpageflip #developercontent {
	position: absolute;
	top: 192px;
	left: 32px;
	max-width: 386px;
}
.meetpageflip #developercontent h4 {
	margin: 0 0 8px 0;
	padding: 0;
	opacity: 0.5;
}
.meetpageflip #developercontent p {
	margin: -8px 0 16px 0;
	padding: 0;
	font-size: 12px;
}
#page22.meetpageflip {
	background: #4d4d4d;
}
.meetpageflip #pdfconvertercontent {
	position: absolute;
	top: 200px;
	left: 32px;
	opacity: 0.5;
	max-width: 386px;
}
.meetpageflip #pdfconvertercontent p {
	color: #f2f2f2;
}
.meetpageflip #spiralwrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 450px;
	height: 600px;
	overflow: hidden;
	-webkit-mask: url( ../template1_meet_pageflip/mask_right.svg ) no-repeat;
}
.meetpageflip #spiral {
	position: absolute;
	top: -84px;
	left: -159px;
	width: 768px;
	height: 768px;
	overflow: hidden;
	background: url( ../template1_meet_pageflip/spiral.svg ) no-repeat center center;
}
/*.meetpageflip #spiral {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;

    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.meetpageflip #spiral {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}*/

.meetpageflip #eventcontent {
	position: absolute;
	top: 194px;
	left: 32px;
	opacity: 0.5;
	max-width: 386px;
}
.meetpageflip #eventflags {
	position: absolute;
	top: 330px;
	left: 64px;
	width: 346px;
}
.meetpageflip #eventflags p {
	opacity: 0.5;
}
.meetpageflip #eventflags img {
	clear: left;
	float: left;
	margin-bottom: 9px;
	margin-right: 20px;
	opacity: 0.25;
}
.meetpageflip #eventflags img.selected {
	opacity: 1;
}
.meetpageflip .features {
	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-o-transition: 	    opacity 1s;
	-ms-transition:     opacity 1s;
	transition: 	    opacity 1s;
}
.meetpageflip #userguide,
.meetpageflip #thankyou,
.meetpageflip #playpause,
.meetpageflip .animationcontrol {
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition: 	    opacity 0.5s;
	-ms-transition:     opacity 0.5s;
	transition: 	    opacity 0.5s;
}
.meetpageflip #animatecontent {
	position: absolute;
	top: 160px;
	left: 32px;
	opacity: 0.7;
	max-width: 386px;
}
.meetpageflip #thankyou {
	position: absolute;
	top: 342px;
	left: 66px;
	opacity: 0.2;
	text-align: center;
	width: 318px;
}
.meetpageflip #thankyou h2 {
	line-height: 90%;
}
.meetpageflip #thankyou:hover {
	opacity: 0.7;
}
.meetpageflip #thankyou h1,
.meetpageflip #thankyou h2,
.meetpageflip #thankyou p {
	margin: 0;
	padding: 0;
	color: #ffffff;
}
.meetpageflip #thankyou h1 {
	font-size: 30px;
}
.meetpageflip #thankyou h2 {
	font-size: 20px;
}
.meetpageflip #thankyou p {
	margin: 26px 0 3px 0;
	line-height: 14px;
}
.meetpageflip #backqr {
	position: absolute;
	top: 441px;
	left: 32px;
	width: 108px;
	height: 159px;
	background: #fff;
	overflow: hidden;
}
.meetpageflip #backqr img {
	opacity: 0.75;
}
.meetpageflip #backqr p {
	margin-left: 4px;
}
.meetpageflip #backcredits {
	position: absolute;
	top: 537px;
	left: 152px;
}

