body, h2, p, h1 {
	margin: 0;
	padding: 0;
}

body {
	background: url("imagenes/fondo.jpg");
	background-color: #366;
	color: #555;
	font-family: Helvetica, sans-serif;
}

#titulo {
	text-align: center;
	margin-top: 15px;
	font-size: 70px;
	font-family: fantasy;
	color: #6aa554;
}

#cuaderno {
	background: url("imagenes/cuaderno.jpg") no-repeat;
	position: absolute;
	width: 866px;
	height: 571px;
	left: 50%;
	top: 18%;
	margin-left: -400px;
	margin-bottom: -125px; 
}

section {
	background: url("imagenes/paginaizquierda") no-repeat; 
	display: block;
	width: 389px;
	height: 554px;
	position: absolute;
	left: 415px;
	top: 5px;
	overflow: hidden;
	font-size: 12px;

}

section>div {
	display: block;
	width: 400px;
	height: 250px;
	font-size: 12px;
}

section p, 
section h2,
section h1 {
	padding: 3px 35px;
	line-height: 1.4em;
	text-align: justify;
}

section h2,
section h1 {
	margin: 15px 0 10px;
}

#pageflip {
	position: absolute;
	z-index: 100;
}










